.row {
  background: white;
  border-radius: 30px;
  box-shadow: 12px 12px 22px;
}

.login img {
  height: 500px;
  margin-left: 70px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.login-title {
  font-family: 'Lobster', cursive;
  font-weight: 700;
  font-size: 3rem;
}

@media screen and (max-width: 750px) {
  form {
    margin-left: -15px;
  }

  .login img {
    margin: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 30px;
  }

  .login-title {
    margin-top: -120px;
    font-size: 2rem;
  }
}

.input-email,
.input-password {
  height: 50px;
  width: 70%;
  border: none;
  outline: none;
  border-radius: 60px;
  box-shadow: -1px 1px 30px -11px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 30px -11px (rgba(0, 0, 0, 0.75));
  -moz-box-shadow: -1px 1px 30px -11px (rgba(0, 0, 0, 0.75));
}

.input-password {
  margin-bottom: 15px;
}

.btn-login {
  height: 50px;
  width: 50%;
  border: none;
  outline: none;
  border-radius: 60px;
  font-weight: 600;
  background: #0d6fed;
  color: #fff;
  transition: all 0.5s;
  cursor: pointer;
}

.btn-login:hover {
  background: #003eaa;
}

.fa-facebook {
  margin: 0 10px;
  cursor: pointer;
  font-size: 2rem;
  color: rgb(39, 39, 192);
}

.fa-google {
  margin: 0 10px;
  cursor: pointer;
  font-size: 2rem;
  color: rgb(224, 22, 72);
}

.form-error {
  font-size: 1rem;
}
