.navbar {
  border-radius: 5px;
}

.navbar-brand {
  color: #fff !important;
}

.navbar__divider {
  color: #fff;
  margin-right: 20px;
}

.navbar-logout {
  cursor: pointer;
}

@media (max-width: 700px) {
  .navbar-brand {
    font-size: 0.9rem;
  }
}
