.card {
  padding: 20px;
  background-color: #ffffff;
  margin-top: 20px;
  border-radius: 5px;
}

.card img {
  width: 100%;
  max-height: 289px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-title {
  text-align: center;
  margin: 0 auto;
  text-transform: capitalize;
}

.card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-edit {
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  margin-right: 25px;
}

.card-delete {
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 25px;
  color: #0275d8;
}

.card-button {
  margin-top: 20px;
}
